.Nav-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  background-color: #E1251B;
}

.GenocchioImage-wrapper {
  width: 100%;
  display: flex;
  margin: auto;
  height: 100%;
}

.GenocchioImage { 
  max-height: 5em;
  margin: 0 2.5em 0 12px;
}

.PackMeUpImage-wrapper {
  width: 100%;
}

.PackMeUpImage {
  max-height: 70px;
  margin: auto;
  margin-top: 15px;
}

.NavDrawer-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  /* display: flex; */
  /* align-items: right;
  align-content: right;
  justify-content: right;
  justify-items: right;
  margin-left: auto; */
}



/* .NavDrawer-icon {
  display: flex;
  align-items: right;
  align-content: right;
  justify-content: right;
  justify-items: right;
  margin-left: auto;
} */

/* .nav a {
  text-decoration: none;
} */

/* .nav-title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
} */

/* .navLink {
  font-family: opendyslexicregular;
  display: inline-block;
  color: white;
  background-color: #1266F1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;


  border: none;
  cursor: pointer;
  outline: 0;
} */
  /* these last two make the logout button in
  the nav bar look like another link */

/* .navLink:hover {
  background-color: white;
  color: red;
} */

/* Genocchio Productions image: */