.EstimateCreate-wrapper {
  max-width: 98%;
  width: 98%;
  margin: 0 auto;
}

.EstimateCreate-table-wrappers {
  margin: 0 auto;
}
/* 
.EstimateCreate-table-1 {
  max-width: 20em;
  margin: 0 auto;
}

.EstimateCreate-table-2 {
  max-width: 22em;
  margin: 0 auto;
}

.EstimateCreate-table-3 {
  max-width: 70em;
  margin: 0 auto;
} */
