.EstimateCreate-wrapper {
  max-width: 70em;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid black;
}

/* .EstimateCreate-details-wrapper {
  display: inline-block;
  max-width: 300px;
  width: 30em;
} */

.EstimateCreate-shipping-info {
  display: block;
  float: left;
  max-width: 34em;
  width: 34em;
  border: 1px solid black;

}

.EstimateCreate-project-info {
  display: block;
  float: right;
  max-width: 34em;
  width: 34em;
  border: 1px solid black;

}