.EstimateCreate-wrapper {
  max-width: 95%;
  width: 95%;
  margin: 0 auto;
  /* display: inline-block;
  border: 1px solid black; */
}

/* .EstimateCreate-details-wrapper {
  display: inline-block;
  max-width: 300px;
  width: 30em;
} */

/* .EstimateCreate-shipping-info {
  display: block;
  float: left;
  max-width: 49%;
  width: 49%;
  border: 1px solid black;
}

.EstimateCreate-project-info {
  display: block;
  float: right;
  max-width: 49%;
  width: 49%;
  border: 1px solid black;
} */

.testTable {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}
